.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px) {
  .grid[data-columns="2"] {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid[data-columns="3"] {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .grid[data-columns="4"] {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .grid[data-columns="4"] {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
